name: pppoev4

networks:
  macvlan:
    driver: macvlan
    driver_opts:
      parent: ${IFACE}

services:
  pppoev4:
    image: scenario_envs/pppoev4
    build: .
    # network_mode: "host"
    networks:
      macvlan:
    volumes:
      - ./conf/pppd_option.conf:/etc/ppp/pppoe-server-options
      - ./conf/pap-secrets:/etc/ppp/pap-secrets
    cap_add:
      - NET_ADMIN
    # -F 前台运行
    # -N 最大并行session数量
    privileged: true
    command: pppoe-server -F -I eth0 -L ${LOCAL_IP} -R ${POOL_START_IP} -N 20
